.App {
	width: calc(var(--sx) * 100px);
	margin: 0 auto;
}
.parent {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
.board {
	display: grid;
	grid-template-columns: repeat(var(--sx), 1fr);
	justify-content: center;
}
.cell {
	width: 100px;
	height: 100px;
}
.cell:hover {
	background-color: aqua;
}
